.logo {
    text-align: center;
    margin-top: 15vh; 
}

.logo img {
    display: block;
    width: 20%; 
    margin: 2rem auto;
    height: auto; 
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0rem 2rem; 
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
}

.header h1 {
    margin-top: 10px;
    font-size: 3rem;
    flex: 2;
}

.another-logo {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 20%;
}

.another-logo img {
    display: block;
    width: 100%; 
    height: auto;
    margin-left: auto;
}

.button {
    text-align: center;
    margin: 2rem;
    color:white;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 0rem;
}

.card {
    flex: 1; /* Equal width for each card */
    max-width: calc(33.33% - 1rem); /* Maximum width for each card */
    padding: 1rem;
    text-align: center;
    background-color: #fff;
}

.submit-btn {
    cursor: pointer;
    width: 25%;
    padding: 1em;
    min-width: fit-content; 
    margin: 2rem;
    background-color: #db0011;
    color: white;
}

  .submit-btn:hover {
    background-color:rgb(177, 5, 5);
}


#chooseFileButton {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ff3627;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: auto;
}

#uploadInstructions {
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 3%;
}

#nextButton {
    padding: 12px 30px;    
    color: #fff;
    border: none;
    width: 30%;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#nextButton:enabled {
    background-color: #ff3627; 
}

#nextButton:disabled {
    background-color: #ccc; 
}

.update {
    text-align: center;
    margin-bottom: 30px;
    height: 100%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

/*  Login page fields and button
*
*/
.login_container {
    margin: 30px auto;
    width: 400px;
    padding: 30px;
    border: 2px solid #ff3627;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #ff3627;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box; 
  }

  * {box-sizing: border-box;}

/* Button used to open the chat form */
.open-button {
  padding:10px 40px;
  background-color: red;
  color: white;
  font-size:14px;
  max-width: 250px;
  border-radius:20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 30px;  
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 40px;
}

/* Add styles to the form container */
.form-container {
  max-width: 360px;
  padding: 12px;
  border-radius:20px;
  text-align: center;
  background-color: rgb(239, 155, 155);
  font-size: 14px;
  color:black;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius:20px;
  background: #ddd;
  resize: none;
  min-height: 200px;
  color:#777; 
}

.form-container textarea:focus {
  background-color: #e7c8c8;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius:20px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

.form-container .cancel {
  background-color: black;
}

.form-container .btn:hover, .open-button:hover {
opacity: 0.8;
}