.account-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #ff3627;
}

.account-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.account-type {
    font-weight: bold;
}

.sort-code {
    font-style: italic;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 3rem;
    flex-wrap: wrap;
}

.header h1 {
    margin-top: 10px;
    font-size: 3rem;
    flex: 2;
}

.another-logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.another-logo img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
}

.acc {
    width: 100%;
    height: 60px;
    background-color: red;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 20px;
    text-align:center;
    padding-right: 10px;
    padding-left: 10px
}